@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url('fontes/idroid.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

@font-face {
    font-family: bebas neue;
    src: url('fontes/BebasNeue-Regular.ttf') format('Truetype');
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Helvetica, Verdana, sans-serif;
    --font-destaque: 'Bebas Neue';
    --font-android: idroid;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 1390px;
    background-color: var(--cor0);
}

strong {
    color: var(--cor4);
}

a {
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

li {
    list-style-type: none;
}

img {
    margin: auto;
    display: flex;
}

h2 {
    padding-left: 10px;
}

header {
    font-family: var(--font-destaque);
    min-height: 238px;
    color: white;
    text-align: center;
    padding-top: 10px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header > h1 {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: 400;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.301);
}

header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    font-weight: lighter;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.377);
}

nav {
    background: transparent;
    text-align: left;
}

nav > a {
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: var(--cor1);
    transition: 0.3s;
    font-family: var(--font-padrao);
    font-weight: bold;
}

nav > a:hover {
    transition: 0.3s;
    color: #005723;
    background-color: #36A967;
    border-radius: 7px;
}

nav > a:active {
    color: var(--cor1);
}

main {
    font-family: var(--font-padrao);
    min-width: 300px;
    max-width: 1040px;
    padding-top: 1px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

article {
    margin-left: 20px;
    margin-right: 20px;
}

main > article > p {
    margin-bottom: 15px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main img {
    width: 100%;
}

main > article > h1 {
    color: #034403;
    font-family: var(--font-android);
    line-height: 2em;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.8em;
}

main > article > h2 {
    background-image: linear-gradient(to right, #7EDCA8, #F5F5F5);
    color: var(--cor4);
    font-family: var(--font-android);
    font-weight: lighter;
    font-size: 1.3em;
}

main > article > p > a {
    font-weight: bold;
    color: var(--cor5);
    background-color: #7adba6;
    border-radius: 3px;
    padding: 2px;
}

.bugdroid {
    max-width: 350px;
}

article div.iframe {
    margin: 0px -20px 30px -20px;
}

.iframe {
    background-color: var(--cor5);
    margin: 0px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

.iframe > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.segundaParte {
    margin: auto;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
}

.segundaParte > p {
    margin: 15px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

.conteudoSP > h3 { 
    background-color: var(--cor4);
    padding: 10px;
    color: white;
    font-family: var(--font-padrao);
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.conteudoSP {
    margin-top: 40px;    
    margin-bottom: 20px;
    padding-bottom: 15px;
    background-color: var(--cor1);
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.24);
}

.conteudoSP > ul {
    margin: 20px;
    list-style-position: inside;
    columns: 2;
}

.conteudoSP > p {
    margin: 15px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

.conteudoSP > p > a {
    color: var(--cor5);
    font-weight: bold;
}

footer {
    font-family: var(--font-padrao);
    font-size: 15px;
    background-color: #034A23;
    color: white;
    margin-top: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    text-align: center;
    box-shadow: 3px 3px 8px rgba(235, 235, 235, 0.637);
}

footer > a {
    color: rgb(255, 228, 160);
    text-decoration: none;
}

footer > a:hover {
    color: var(--cor1);
    transition: 0.2s;
    text-decoration: underline;
}