@charset "UTF-8";

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

p {
    margin-top: 30px;
}

div {
    margin-top: 70px;
    text-align: center;
}

img {
    margin: 0px;
    padding: 0px;
    height: 99px;
}